* {
  box-sizing: border-box
}

.wrapper {
  @extend .container-fluid;
}

.calendar {
  @include make-md-column(12);
  @include make-lg-column(12);
}

.calendar_items {
  @include make-md-column(1);
  @include make-lg-column(1);
  @include make-xs-column(1);
  @include make-sm-column(1);
}
.medium {
  @extend .hidden-sm;
}
.calendar--small{
  @extend .hidden-xs;
  @extend .hidden-sm;
}
.calendar--task{
  @extend .hidden-sm;
  @extend .hidden-md;
  @extend .hidden-lg;
}
.calendar--extra{
  @extend .hidden-xs;
}

.calendar_items {
  width: 14.285%;
  height: auto;
  min-height: 200px;
  border: 1px solid darkgray;
  background: linear-gradient(
                  rgba(255,255,255, 0) .9em, rgba(0, 0, 0, .15) 1em)
  0 0,
  linear-gradient(90deg,
                  rgba(255,255,255, 0) .9em, rgba(0, 0, 0, .15) 1em)
  0 0;
  background-size: 1em 1em;
  background-color: ivory;
  font: italic 16px/2 'Trebuchet MS', Verdana, sans-serif;
  @media only screen and (max-width: 1170px) {
    min-height: 100vh;
  }
  @media only screen and (max-width: 992px) {
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(90deg,
            rgba(255, 255, 255, 0) 1.8em, rgba(135, 206, 235, .5) 2em)
    4em 0 repeat-y,
    linear-gradient(
                    rgba(255,255,255, 0) 1.9em, rgba(0, 0, 0, .15) 2em)
    0 0;
    background-size: 2em 2em;
    background-color: ivory;
    font: 16px/2 'Trebuchet MS', Verdana, sans-serif;
  }
}

.calendar--title {
  font-weight: 700;
  min-height: 30px;
  text-align: center;
}

.calendar-time__items {
  min-height: 60px;
  border: 1px solid darkgray;
}

.calendar-time--title {
  @extend .calendar--title;

}




