@mixin bg{
  background: linear-gradient(
      rgba(255,255,255, 0) .9rem, rgba(0, 0, 0, .15) 1rem)
  0 0,
  linear-gradient(90deg,
      rgba(255,255,255, 0) .9rem, rgba(0, 0, 0, .15) 1rem)
  0 0;
  background-size: 1rem 1rem;
  background-color: ivory;


}
